<form id="contact-form">
    <label for="name" hidden>Name</label>
    <input type="text" name="name" id="name" placeholder="Name">
    <label for="email" hidden>eMail-Adresse</label>
    <input type="email" name="email" id="email" placeholder="eMail-Adresse">
    <label for="message" hidden>Deine Nachricht</label>
    <textarea name="message" id="message" rows="6" placeholder="Deine Nachricht"></textarea>
    <p id="form-message-field" hidden></p>
    <button type="submit">Senden</button>
    <div class="spinner hidden">
        <div></div>
    </div>
</form>
