<header>
    <div class="container">
        <div id="brand">
            <a href="/">
                <img src="/images/wilhelminchen.webp" alt="Café Wilhelminchen Logo">
            </a>
        </div>
        <label id="menu-button">
            <input type="checkbox" name="menu" id="menu-checkbox">
            <span role="button"></span>
        </label>
        <nav>
            <ul class="no-list">
                <li>
                    <a href="{{ if not .IsHome }}/{{ end }}#about">Das Café</a>
                </li>
                <li>
                    <a href="{{ if not .IsHome }}/{{ end }}#events">Events</a>
                </li>
                <li>
                    <a href="{{ if not .IsHome }}/{{ end }}#contact">Schreib uns!</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
